#DailyWeekly{
    margin-right: 150px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: xx-large;
    color: white;
    font-weight: bold;
    text-shadow: 3px 2px 3px #0f0f0f;
}

#rightheader{
    height: 150px;
    padding: 35px;
    background-size: 100% 150px;
}

#TableHeaders{
    line-height: 60px;
    margin-bottom: 0;
    height:60px ;
    background-color:#005C95;
    color: white;
    font-size: xx-large;
}
#AgentsList1 .nano{
    height: 445px;
}

#AgentsList1 table>tbody> tr{
    font-size: 30px;
}

#AgentsList1 .col4, #AgentsList1 .col5{
    width:19%;
    font-size: large;
}

#AgentsList1 .col6, #AgentsList1 .col7{
    width:19%;
    font-size: 30px;
}

#AgentsList2 ul>li{
    width: 120px;
    display: inline-block;
    margin: 0px;
    white-space: normal;
    border: solid 1px white;
    vertical-align: top;
    font-size: 14px;
}

#AgentsList2 .icon2{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 10px 0 10px 0;
}

#ClockTime{
    font-size: xx-large;
}

#ClockDate{
    font-size: x-large;
}

#Panel2{
    height: 655px ;
}

#Panel2 h2{
    font-size: xx-large;
}

#message-template p {
    font-size: 30px;
}

.okno2 > div {
    transition: transform 0.5s; -webkit-transition: transform 0.5s;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 1024px) {
    body {
        width: 100%;
    }

    .wrapper {
        background-image: none !important;
    }

    #header1 {
        height: 100% !important;
        background: #209bd8; /* Old browsers */
        background: -moz-linear-gradient(top, #209bd8 0%, #025589 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #209bd8 0%, #025589 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #209bd8 0%, #025589 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#209bd8', endColorstr='#025589', GradientType=0); /* IE6-9 */
        box-shadow: 5px 5px 5px gray;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    #DailyWeekly {
        margin-top: 10px;
        margin-right: 20px;
    }

    #Panel1, #Panel2 {
        height: 100%;
    }

    #rightheader {
        height: 100%;
        background-size: 100% 100%;
        padding: 20px 10px 10px 10px;
    }

    #TableHeaders {
        padding-left: 10px;
    }
}

@media (min-width: 550px) and (max-width: 768px) {
    #TableHeaders {
        font-size: 1.4em;
    }

    #AgentsList1 .nano {
        height: 300px;
    }

    #AgentsList1 table > tbody > tr {
        font-size: 1.4em;
    }

    #AgentsList1 .col4, #AgentsList1 .col5 {
        font-size: 0.7em;
    }

    #AgentsList1 .col6, #AgentsList1 .col7 {
        font-size: 1.4em;
    }

    #AgentsList2 ul > li {
        width: 100px;
        font-size: 13px;
    }

    #AgentsList2 .icon2 {
        width: 70px;
        height: 70px;
    }

    .okno2 > div {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 400px) and (max-width: 549px) {
    #TableHeaders {
        font-size: 1.1em;
    }

    #AgentsList1 .nano {
        height: 230px;
    }

    #AgentsList1 table > tbody > tr {
        font-size: 1.1em;
    }

    #AgentsList1 .col4, #AgentsList1 .col5 {
        font-size: 0.5em;
    }

    #AgentsList1 .col6, #AgentsList1 .col7 {
        font-size: 1.1em;
    }

    #ClockTime{
        font-size: x-large;
    }

    #Panel1{
        font-size: 1.2em;
    }

    #Panel1 th, #Panel1 h2, #Panel2 h2{
        font-size: x-large;
    }

    #ClockDate {
        font-size: 1.1em;
    }

    #DailyWeekly{
        font-size: x-large;
    }

    #AgentsList2 ul > li {
        width: 80px;
        font-size: 12px;
    }

    #AgentsList2 .icon2 {
        width: 60px;
        height: 60px;
    }

    .okno2 > div {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 399px) {
    #TableHeaders {
        font-size: 0.9em;
    }

    #AgentsList1 .nano {
        height: 200px;
    }

    #AgentsList1 table > tbody > tr {
        font-size: 0.9em;
    }

    #AgentsList1 .col4, #AgentsList1 .col5 {
        font-size: 0.5em;
    }

    #AgentsList1 .col6, #AgentsList1 .col7 {
        font-size: 0.9em;
    }

    #ClockTime{
        font-size: 1.4em;
    }

    #Panel1{
        font-size: 0.9em;
    }

    #Panel1 th, #Panel1 h2, #Panel2 h2{
        font-size: 1.4em;
    }

    #ClockDate {
        font-size: 0.9em;
    }

    #DailyWeekly{
        font-size: 1.4em;
    }

    #AgentsList2 ul > li {
        width: 60px;
        font-size: 10px;
    }

    #AgentsList2 .icon2 {
        width: 45px;
        height: 45px;
    }

    .okno2 > div {
        width: 45px;
        height: 45px;
    }
}